{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<hr>
<div class="post-image">
    <img src="{{ post.image.url }}" alt="{{ post.title }}" />
</div>
<p class="date">Published {{ post.publish }} by {{ post.author }}</p>
{{ post.body|markdown }}
<div class="similar-posts">
    <h2>Similar posts</h2>
    {% for post in similar_posts %}
    <a href="{{ post.get_absolute_url}}">
        <div class="container">
            <div class="row row-cols-auto g-0 align-items-center">
                <div>
                    <img width="100px" height="100px" src="{{ post.image.url }}" alt="{{ post.title }}">
                </div>
                <div class="similar-post-title">
                    <h1>{{ post.title }}</h1>
                </div>
            </div>
        </div>
    </a>
    {% empty %}
    There are no similar posts yet.
    {% endfor %}
</div>
<section id="comment-section">
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    {% endwith %}
    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments yet.</p>
    {% endfor %}
    {% include 'blog/post/includes/comment_form.html' %}
</section>
{% endblock %}