*{
    padding: 0%;
    margin: 0%;
}
#container{
    display: flex;
    flex-direction: row;
}
#sidebar{
    width: 100vw;
    background-color: rgb(252, 250, 250);
    display: grid;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    height: max-content;
    row-gap: 1.5rem;
}
#sidebar ul{
    padding-left: 2.5rem;
}
#content{
    padding: 1em .5em;
    font-family: Arial, Helvetica, sans-serif;
}

h1:nth-of-type(1){
    font-size: 2.5rem;
    margin: 1rem 0;
}

h2 > a{
    text-decoration: none;
    font-size: 2rem;
}
a{
    color: orange;
}
.post{
    margin-top: 2rem;
}
.date{
    font-style: italic;
    color: rgb(226, 226, 226);
    margin: .7rem 0;
}
.pagination{
    margin-top: 1rem;
    font-weight: bold;
}

#comment-section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.comment-form p{
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}
.comment-form input:not([type='submit']){
    height: 1.5rem;
    width: 12rem;
}
textarea, .comment-form input:not([type='submit']), .comment{
    background-color: rgb(224, 223, 223);
    border: none;
}
input[type='submit']{
    height: 2rem;
    width: 10rem;
    border: none;
    color: white;
    cursor: pointer;
}
textarea{
    width: 25rem;
}

a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.info{
    font-size: small;
    margin-bottom: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.comment{
    padding: 1rem;
    font-weight: bold;
}
.tags, .tag-header, .similar-posts, .similar-posts>p{
    margin-top: 1rem;
}
.similar-posts{
    font-size: medium;
}